<form>
  <div class="upload_images">
    <span>{{getUploadedImgData()}}</span>
    <label class="upload_img--block">
      <span class="upload_img--item">
        <i class="fa-solid fa-upload"></i>
      </span>
      <input type="file"
             name="photo"
             class="upload_img--upload"
             multiple
             (change)="onFileChange($event)">
    </label>
    <div class="upload_images--images">
      <div *ngFor="let img of showingImages" class="upload_images--image-block">
        <div *ngIf="!img?.loaded" class="loader">
          <i class="fa fa-spinner"></i>
        </div>
        <img [src]="img?.src" (load)="img.loaded = true" [hidden]="!img?.loaded" class="upload_img--img">
      </div>
    </div>
  </div>
</form>
