body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.upload_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  &--images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .upload_images--image-block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 140px;
      border: 1px solid green;
      border-radius: 4px;
      margin: .5rem;

      .loader {
        font-size: 30px;
        color: green;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        i {
          animation: loading .85s steps(8) infinite;
        }
      }
    }
  }

  &--image-block {
    position: relative;
  }
}

.upload_img {
  &--block {
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 140px;
    border: 1px solid green;
    border-radius: 4px;
    position: relative;

    &:hover {
      background-color: rgba(green, .1);
      transition: .3s ease-in-out;
    }
  }

  &--block, &--upload {
    cursor: pointer;
  }

  &--upload {
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &--item {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 24px;
      color: green;
    }
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
